<% content_for :title do %>Change gender/gender preferences<% end %>
<% @user = current_user %>
<div class="profile-info">
    <form action="/gender" method="POST">
	<div class="form-group">
	    <label>I am a</label>
	    <div class="form-select-wrap">
		<select class="form-select" name="gender">
		    <% User.genders.each do |g| %>
			<option value="<%= g %>" <%= "selected" if @user.gender == g %> >
			    <%= g %>
			</option>
		    <% end %>
		</select>
	    </div>
	</div>

	<div class="form-group">
	    <label>Looking for a</label>
	    <% User.genders.each do |g| %>
		<label for="into-<%= g %>" class="form-checkbutton-label">
		    <input type="checkbox" id="into-<%= g %>" name="into-<%= g %>"
			   <%= 'checked' if @user.is_interested_in?(g) %>>
		    <i class="fas fa-check form-checkbox-checked"></i>
		    <i class="far fa-circle form-checkbox-not-checked"></i>
		    <div class="form-checkbox-text"><%= g %></div>
		</label>
	    <% end %>
	    <% if @user.errors[:into] %>
		<div class="input-error">
		    Gender preference <%= @user.errors[:into][0] %>
		</div>
	    <% end %>
	</div>

	<div class="form-group">
	    <input type="submit" value="Update">
	</div>
    </form>
</div>
<%= erb :_footer, locals: {tab: :user, **locals}  %>
