<% content_for :title do %>Verification moderation<% end %>
<h3 style="margin-bottom: 1px">Username: <%= @user.username %></h3>
<img src="/images/<%= @user.verified_photo %>">

<form action="/verifications/<%= @user.id %>/approve" method="POST">
    <input type="submit" value="Approve">
</form>

<form action="/verifications/<%= @user.id %>/reject" method="POST">
    <label>Rejection reason</label>
    <input type="text" name="reason">
    <input type="submit" value="Reject">
</form>
<%= erb :_footer, locals: {tab: :none, **locals} %>
